#
# Docker volume (a folder) in which store the DataBase
#
PGSQL_VOLUME=~/databases/pgsql

#
# SQL Server external & internal port (external:internal)
#
PGSQL_PORT_MAPPING=5432:5432


#
# FLASK external & internal port (external:internal)
#
FLASK_PORT_MAPPING=5000:5000

#
# SQL Server super admin password
#
PGSQL_ADMIN_PASS=1111

PGSQL_ADMIN_USERNAME=username
