marshmallow~=3.19.0
SQLAlchemy~=2.0.16
Werkzeug~=2.3.6
requests~=2.31.0
Flask~=2.3.2
Flask-APScheduler~=1.12.4
Flask-Cors~=3.0.10
Flask-Login~=0.6.2
Flask-Mail~=0.9.1
flask-smorest~=0.41.0
Flask-SQLAlchemy~=3.0.3
flask-swagger-ui~=4.11.1
APScheduler~=3.10.1
python-dotenv~=1.0.0
alembic~=1.10.3
email-validator~=2.0.0
psycopg2-binary~=2.9.6
pytest~=7.4.0